.alb-card-wrapper {
  width: 100%;
  background-color: #27aa7e;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 0 1rem;
}
.alb-view-btn {
  font-weight: bold;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.alb-title-icon {
  display: flex;

  align-items: center;
  gap: 1rem;
}
.alb-title-icon button {
  height: fit-content;
  background-color: #27aa7e;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.alb-card-title {
  flex: 1;
}

.alb-view-btn-wrapper {
  display: flex;
  align-items: center;
}
